# -------------------
# Virtual environments
# -------------------
.venv/
venv/
env/

# -------------------
# Python cache
# -------------------
__pycache__/
*.pyc

# -------------------
# System
# -------------------
.DS_Store

# -------------------
# Runtime / DB
# -------------------
chroma_db/
data/chroma/

# -------------------
# Raw scraped data (rebuildable)
# -------------------
data/raw/

# -------------------
# Chainlit
# -------------------
.chainlit/
chainlit.db

# -------------------
# Logs
# -------------------
*.log